#one-sp{
	width: 900px;
	height: 800px;
	margin-top: 120px;
}
#one-sp .img{
	width: 368px;
	height: 460px;
	float: left;
}
#text{
	width: 450px;
	height: 430px;
	float: left;
	margin:-30px 30px;
	box-sizing: border-box;
}
#text p{
	margin-top: 60px;
	font-size: 24px;
}
#text a{
	color: #535050;
	text-decoration: none;
	display: block;
	margin-top: 95px;

}
#buy{
	text-align: center;
	width: 220px;
	height: 40px;
	background: #09E9CC;
	line-height: 40px;
	margin-left: 20px;
}
#description{
	padding-top: 50px;
	clear: left;
}